@import "variable";
page{
  height: 100%;
  background-color: $color-bg-body;
}

//******外边距原子样式******/
.mr10{margin-right: 10rpx}
.mr20{margin-right: 20rpx}
.ml10{margin-left: 10rpx}
.ml20{margin-left: 20rpx}
.mt10{margin-top: 10rpx}
.mt20{margin-top: 20rpx}
.mb10{margin-bottom: 10rpx}
.mb20{margin-bottom: 20rpx}


//******通用样式******/
text, view {
  font-size: $text-nm;
  color: $color-normal;
}

.form {
  text,view{
    font-size: $text-form;
  }
}
text.white{color:#FFF}
text.muted,input.muted,view.muted{color: $color-muted}
text.weak{color: $color-weak}
text.primary{color: $color-primary}
text.major{color: $color-major}
text.danger{color: $color-danger}

text.xl{font-size: $text-xl}
text.xxl{font-size: $text-xxl}
text.lg{font-size: $text-lg}
text.sm{font-size: $text-sm}
text.xs{font-size: $text-xs}
text.xxs{font-size: $text-xxs}

text.inline{
  text-overflow: ellipsis;
  word-break:keep-all;
  white-space:nowrap;
  overflow:hidden;
}
text.cancel{
  font-size: $text-sm;
  color: $color-muted;
  text-decoration: line-through;
}

view.bg-white{background-color: white}

//******布局样式******/
.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.row-center{
  @extend .row;
  justify-content: center;
}
.row-between {
  @extend .row;
  justify-content: space-between;
}
.row-around {
  @extend .row;
  justify-content: space-around;
}
.row-end {
  @extend .row;
  justify-content: flex-end;
}
.column {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.column-center{
  @extend .column;
  align-items: center;
}
.column-around{
  @extend .column;
  align-items: center;
  justify-content: space-around;
}
.column-between{
  @extend .column;
  align-items: center;
  justify-content: space-between;
}
.container{
  @extend  .column;
}
.fixed-bottom{
  position: fixed;
  bottom: 0;
}

//******间隔******/
.hr{
  width: 100%;
  height: 6rpx;
}
.h-gap{
  width: 100%;
  height: 10px;
}

.tab-border{
  position: fixed;
  height: 1px;
  width: 100%;
  background-color: #E6E8EB;
  bottom: 0;
}

//******面板与标签******/
.panel {
  background: #fff;
  border-top: $border;
  border-bottom: $border;
  margin-top: 10rpx;
  overflow: hidden;
}
.label {
  display: inline-block;
  font-size: 12px;
  height: 28px;
  line-height: 28px;
  color: #333;
  border: 1rpx solid #999;
  padding: 0 10px;
  border-radius: 2px;
  margin-right: 10px;
  box-sizing: border-box;
  vertical-align: middle;
  text-align: center;
  &.primary {
    color: #fff;
    background: $color-primary;
    border: 1rpx solid $color-primary;
  }
  &.disabled {
    color: #cacaca;
    background: #eee;
    border: 1rpx solid #e5e5e5;
  }
  &.small {
    font-size: 11px;
    height: 20px;
    line-height: 18px;
    padding: 0 3px;
  }
  &.pain.primary {
    color: $color-primary;
    background: #fff;
  }
}

/** 微信列表样式 **/
.weui-cells-show{
  margin-top: 0;
  text, view{
    font-size: $text-nm;
  }
  .weui-cell__ft{
    color: $color-normal;
  }
  .weui-cell::before,.weui-cells::after{
    border-top: $border;
  }
  &::before {
    border-top: $border;
  }
  &::after {
    border-bottom: $border;
  }
}
/** 微信表单样式 **/
.weui-cells-form{
  @extend .weui-cells-show;
  text, view{
    font-size: $text-form;
  }
}
/** 微信Loadmore样式 **/
.weui-loadmore__tips_in-dot, .weui-loadmore__tips_in-line{
  background-color: $color-bg-body;
}

/** 重新定义按钮 **/
button{
  margin:0;
}
/*主要按钮*/
button[type="primary"]{
  background-color: $color-primary;
}
button[type="primary"][plain]{
  color: $color-primary;
  border-color: $color-primary;
}
.button-hover[type="primary"]{
  background-color: $color-primary-darken;
}
/*分享按钮*/
button[plain]{
  border:none;
}
button.pain-btn[open-type="share"]{
  background-color: transparent;
  line-height: normal;
  padding: 0;
  margin: 0;
}
button.pain-btn[open-type="share"]::after {
  border:none;
}
.weui-btn.mini-btn{
  margin-top: 0;
}
/** 按钮面板样式 **/
.btn-panel {
  background: #fff;
  border-top: 1rpx solid #e5e5e5;
  border-bottom: 1rpx solid #e5e5e5;
  margin-top: 10px;
  overflow: hidden;
  padding: 30rpx;
  width: 690rpx;
}
.btn-panel-bottom{
  position: fixed;
  bottom: 0;
}
/** loading样式 **/
.loading-wrap{
  height: 80%;
}
.loading-icon{
  width: 60px;
  height: 50px;
}
//******图片样式******/
@mixin icon-image($size){
  min-height: $size;
  min-width: $size;
  height: $size;
  width: $size;
  vertical-align: middle;
}
.icon-sm {
  @include icon-image(15px);
}
.icon {
  @include icon-image(20px);
}
.icon-lg {
  @include icon-image(30px);
}
.icon-xl {
  @include icon-image(50px);
}
.icon-xxl{
  @include icon-image(60px);
}
.icon-round {
  border-radius: 50%;
}

button[class="noborder-btn"]::after {
  border: 0;
} 

.noborderbtn{
  border-style: none;
  border-radius: 0;
  background: white;
  opacity: 1;
  padding: 0;
  text-align: inherit;
  line-height: inherit;
  font-size: inherit;
  height: inherit;
  &::after {
    border: 0;
  }
}

.wxParse{
  margin: 0 5px;
  font-family: Helvetica,sans-serif;
  font-size: 28rpx;
  color: #666;
  line-height: 1.8;
}

view{
  word-break:break-all; overflow:auto;
}
.wxParse-inline{
  display: inline;
  margin: 0;
  padding: 0;
}

.wxParse-div{margin: 0;padding: 0;}
.wxParse-h1{ font-size:2em; margin: .67em 0 }
.wxParse-h2{ font-size:1.5em; margin: .75em 0 }
.wxParse-h3{ font-size:1.17em; margin: .83em 0 }
.wxParse-h4{ margin: 1.12em 0}
.wxParse-h5 { font-size:.83em; margin: 1.5em 0 }
.wxParse-h6{ font-size:.75em; margin: 1.67em 0 }

.wxParse-h1 {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: .9em;
}
.wxParse-h2 {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: .34em;
}
.wxParse-h3 {
  font-weight: 400;
  font-size: 15px;
  margin-bottom: .34em;
}
.wxParse-h4 {
  font-weight: 400;
  font-size: 14px;
  margin-bottom: .24em;
}
.wxParse-h5 {
  font-weight: 400;
  font-size: 13px;
  margin-bottom: .14em;
}
.wxParse-h6 {
  font-weight: 400;
  font-size: 12px;
  margin-bottom: .04em;
}
.wxParse-h1, .wxParse-h2, .wxParse-h3, .wxParse-h4, .wxParse-h5, .wxParse-h6, .wxParse-b, .wxParse-strong  { font-weight: bolder }

.wxParse-i,.wxParse-cite,.wxParse-em,.wxParse-var,.wxParse-address{font-style:italic}
.wxParse-pre,.wxParse-tt,.wxParse-code,.wxParse-kbd,.wxParse-samp{font-family:monospace}
.wxParse-pre{white-space:pre}
.wxParse-big{font-size:1.17em}
.wxParse-small,.wxParse-sub,.wxParse-sup{font-size:.83em}
.wxParse-sub{vertical-align:sub}
.wxParse-sup{vertical-align:super}
.wxParse-s,.wxParse-strike,.wxParse-del{text-decoration:line-through}

.wxParse-strong,.wxParse-s{display: inline}
.wxParse-a{
    color: deepskyblue;
    word-break:break-all;
    overflow:auto;
}

.wxParse-video{
    text-align: center;
    margin: 10px 0;
}

.wxParse-video-video{
    width:100%;
}

.wxParse-img{
  overflow: hidden;
}

.wxParse-p{
  margin: 5px 0px;
}

.wxParse-blockquote {
  margin: 10px 0px;
  padding:10px 0 10px 5px;
  background:#f5f5f5;
  border-left: 3px solid #dbdbdb;
}

.wxParse-code,.wxParse-wxxxcode-style{
  display: inline;
  background:#f5f5f5;
}
.wxParse-ul{
  margin: 20rpx 10rpx;
}

.wxParse-li,.wxParse-li-inner{
  display: flex;
  align-items: baseline;
  margin: 10rpx 0;
}
.wxParse-li-text{
  
  align-items: center;
  line-height: 20px;
}

.wxParse-li-circle{
  display: inline-flex;
  width: 5px;
  height: 5px;
  background-color: #333;
  margin-right: 5px;
}

.wxParse-li-square{
  display: inline-flex;
  width: 10rpx;
  height: 10rpx;
  background-color: #333;
  margin-right: 5px;
}
.wxParse-li-ring{
  display: inline-flex;
  width: 10rpx;
  height: 10rpx;
  border: 2rpx solid #333;
  border-radius: 50%;
  background-color: #fff;
  margin-right: 5px;
}


.wxParse-u {
text-decoration: underline;
}
.wxParse-hide{
  display: none;
}
.WxEmojiView{
  align-items: center;
}
.wxEmoji{
  width: 16px;
  height:16px;
}
.wxParse-tr{
display: flex;
border-right:1px solid #e0e0e0;
border-bottom:1px solid #e0e0e0;
border-top:1px solid #e0e0e0;
}
.wxParse-th,
.wxParse-td{
flex:1;
padding:5px;
font-size:28rpx;
border-left:1px solid #e0e0e0;
word-break: break-all;
}
.wxParse-td:last{
border-top:1px solid #e0e0e0;
}
.wxParse-th{
background:#f0f0f0;
border-top:1px solid #e0e0e0;
}
.wxParse-del{
  display: inline;
}
.wxParse-figure {
overflow: hidden;
}